<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if styleSheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=styleSheet) }}">
    {% endif %}
  </head>
  <body>
    <h1>{{ pageHeader }}</h1>
    <center>
      <img src="{{ url_for('video_feed') }}">
    </center>
    {% for title, data in info.items() %}
    <h4>{{ title }}</h1>
    <p>{{ data }}</p>
    {% endfor %}
  </body>
</html>
